:root{
    --bit-orage: #F7931A;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --gray-primary: #757575;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;

}


header{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    padding: 30px 0;


}

header figure{
    
    width: 150px;
    padding: 15px 0;
    margin: 0 auto;
    margin-bottom: 15px;
    
}

.header_text_container{
    width: 90%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    
}
.header_text_container h1{
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 15px;
}

.header_text_container p{
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 15px;

}

.header_text_container a{
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 50px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warm-black);
    line-height: 1.8rem;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    text-align: center;
    left: calc(50% - 125px);
    top: calc(100% - 25px);
    

}

.header_text_container a span{
    display: inline-block;
    background-image: url('../assets/icons/down-arrow.svg');
    width: 14px;
    height: 7px;
    margin-left: 10px;
    
}

main{
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--off-white);
}

.section__trading__container{
    width: 100%;
    position: relative;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    
}

.section__trading_image{

    width: 195px;
    height: 195px;
    margin: 0 auto;
    background-image: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.section-trading__text__container{
    
    width: 288px;
    margin: 0 auto;
    
}

.section__trading_title{

    width: 288px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 30px;
    color: var(--warm-black);

}

.section__trading_text{
    width: 288px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 40px;
    color: var(--gray-primary)
}

.section__trading_currency{
    width: 81px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: #FF9536;
    margin-bottom: 10px;
    padding-left: 50px;
    
}

.section__table_container{
    min-width: 320px;
    max-width: 330px;
    margin: 0 auto;
}

.section__table_container table{
    
    width: 70%;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: var(--gray-primary);
    margin: 0 auto;
    margin-bottom: 15px;
}

.section__table_container td{
    
    background-color: var(--just-white);
    min-width: 101px;
    padding: 10px 12px;


}

.section__table_icon-down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    background-image: url('../assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section__table_icon-up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    background-image: url('../assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section__table_border-up-left{

    border-radius: 8px;

}

.section__table_border-up-right{

    border-radius: 8px;

}
.section__table_border-down-left{

    border-radius: 8px;

}
.section__table_border-down-right{

    border-radius: 8px;

}

.section__trading_date{

    min-width: 180px;
    max-width: 200px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--soft-orange);
    margin-bottom: 70px;
    color: var(--warm-black-1);
    border-radius: 15px;
}

.section__trading_date strong{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.benefits{
    width: 100%;
    height: auto;
    background-color: var(--warm-black);
    padding: 50px 0;
}

.benefits__title{
    width: 288px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.benefits__title__main{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 15px;

}

.benefits__title__secondary{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    
}

.benefits__card{
    width: 288px;
    padding: 15px;
    margin: 10px auto;
    text-align: justify;
    background-color: var(--warm-black-1);

}

.benefits__card__final{
    width: 288px;
    padding: 15px;
    margin: 0 auto;
    text-align: justify;
    background-color: var(--warm-black-1);

}

.benefits__card__time{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/clock.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}



.benefits__card__view{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/eye.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.benefits__card__currency{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.benefits__card__secure{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/check-circle.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.benefits__card__title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 15px;
    margin-top: 10px;
    
}

.benefits__card__description{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    margin-bottom: 15px;
    text-align: left;
}

.plans{
    width: 100%;
    min-width: 320px;
    height: 30vh;
    background-image: url('../assets/img/bitcoinbabyx2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}

.plans__title{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    padding-top: 60px;

}




