.section__table_container{
    min-width: 720px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;

}

.section__trading_currency{
    padding-left: 0;
    margin: 0 calc(50% - 81px/2) 0;
}

.section__trading_commmissions{
    padding-left: 0;
    margin: 0 calc(50% - 81px/2) 0;
}

.benefits__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.choose-plan__card__container{
    display: flex;
    height: auto;
    width: 70%;
    min-width: 700px;
    max-width: 350px;
    margin: 0 auto;
    justify-content: center;
}
